<html>
    <head>
        <title>Vincent's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Vincent's Blog</a></h1>
        </div>

        <div>
            <p>published: 18.08.2018, 19:29</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello there!</p>
        </div>

        <div>
            <p>published: 18.08.2018, 19:29</p>
            <h2><a href="">My second post</a></h2>
            <p>Is anyone there?</p>
        </div>
    </body>
</html>
